<p id="notice"><%= notice %></p>

<h1>Instructor Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructor_profiles.each do |instructor_profile| %>
      <tr>
        <td><%= instructor_profile.firstname %></td>
        <td><%= instructor_profile.lastname %></td>
        <td><%= instructor_profile.phone %></td>
        <td><%= instructor_profile.address %></td>
        <td><%= instructor_profile.rate %></td>
        <td><%= link_to 'Show', instructor_profile %></td>
        <td><%= link_to 'Edit', edit_instructor_profile_path(instructor_profile) %></td>
        <td><%= link_to 'Destroy', instructor_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor Profile', new_instructor_profile_path %>
