<p>
<% if @instructor_profile.profile_picture.attached? %>
  <%= image_tag @instructor_profile.profile_picture, class: "pro-pic"%>
<% else %>
  <%= image_tag "defaultpp.png", class: "pro-pic"%>
<% end%>
<p>
  <strong>Name: </strong>
  <%= "#{@instructor_profile.firstname} #{@instructor_profile.lastname}" %>
</p>

<p>
  <strong>Email: </strong>
  <%= @instructor_profile.instructor.email %>
</p>

<p>
  <strong>Phone: </strong>
  (+61)<%= @instructor_profile.phone %>
</p>

<p>
  <strong>Address: </strong>
  <%= @instructor_profile.address %>
</p>

<p>
  <strong>Rate:</strong>
  $<%= @instructor_profile.rate %>
</p>

<%= link_to 'Edit', edit_instructor_profile_path(@instructor_profile) %> |
<%= link_to 'Back', instructor_profiles_path %>
