<hr class="my-2">
<p class="h1 text-center bg-light w-50 mx-auto rounded">Instructor Dashboard</p>
<hr class="my-2">
<div class="bg-light p-4 border rounded w-auto mx-5 mt-2 mb-3">
<div class="row justify-content-center">
    <div class="col-4 border rounded">
      <p class=" h4 text-center mt-4">Profile</p>
      <hr class="my-4">
      <% if @instructor_profile.profile_picture.attached? %>
        <%= image_tag @instructor_profile.profile_picture, class: "pro-pic center"%>
      <% else %>
        <%= image_tag "defaultpp.png", class: "pro-pic"%>
      <% end%>
      <hr class="my-4">
      <p>
        <strong>Name: </strong>
        <%= "#{@instructor_profile.firstname} #{@instructor_profile.lastname}" %>
      </p>

      <p>
        <strong>Email: </strong>
        <%= @instructor_profile.instructor.email %>
      </p>

      <p>
        <strong>Phone: </strong>
        (+61)<%= @instructor_profile.phone %>
      </p>

      <p>
        <strong>Address: </strong>
        <%= @instructor_profile.address %>
      </p>

      <p>
        <strong>Rate:</strong>
        $<%= @instructor_profile.rate %>
      </p>

      <%= link_to 'Edit Profile', edit_instructor_profile_path(@instructor_profile), class: "btn btn-primary mb-3" %>
      <%= link_to 'Configure Time Slots', '#timeconfig', class: "btn btn-primary mb-3 ml-3" %>
    </div>
    <div class="col-4 border-right">
      <p class=" h4 text-center mt-4">Upcoming Bookings</p>
      <hr class="my-4">
      <% @current_bookings.order(:date).each do |booking| %>
      <% if booking.date > Date.today+1%>
      <strong><%= booking.date.strftime('%A')%> <%= @daytime.find(@timeslots.find(booking.timeslot_id).daytime_id).time%> -</strong> <%= booking.date.strftime("%m/%d/%Y")%>
      <hr class="my-1">
      <strong>Parent: </strong><%= @parents.where(user_id: booking.user_id).first.firstname %> <%= @parents.where(user_id: booking.user_id).first.lastname %>
      <br>
      <strong>Student: </strong><%= @students.find(booking.student_id).firstname %> <%= @students.find(booking.student_id).lastname %>
      <br>
      <strong>Address:</strong>
      <br>
      <%=@parents.where(user_id: booking.user_id).first.address %>
      <hr class="my-3">
      <%end%>
      <%end%>
      
    </div>
    <div class="col-4 rounded">
      <p class=" h4 text-center mt-4">Previous Bookings</p>
      <hr class="my-4">
      <% @current_bookings.order(:date).each do |booking| %>
      <% if booking.date < Date.today+1%>
      <strong><%= booking.date.strftime('%A')%> <%= @daytime.find(@timeslots.find(booking.timeslot_id).daytime_id).time%> -</strong> <%= booking.date.strftime("%m/%d/%Y")%>
      <hr class="my-1">
      <strong>Parent: </strong><%= @parents.where(user_id: booking.user_id).first.firstname %> <%= @parents.where(user_id: booking.user_id).first.lastname %>
      <br>
      <strong>Student: </strong><%= @students.find(booking.student_id).firstname %> <%= @students.find(booking.student_id).lastname %>
      <br>
      <strong>Address:</strong>
      <br>
      <%=@parents.where(user_id: booking.user_id).first.address %>
      <hr class="my-3">
      <%end%>
      <%end%>
      
    </div>
  </div>
</div>
<p id="timeconfig" class="h1 text-center mb-3 bg-light w-50 mx-auto border rounded">Configure Available Time Slots</p>
<div class="d-flex flex-wrap bg-light p-4 border rounded w-auto mx-5 mt-2 mb-3">
<% @timeslots.order(:id).each do |timeslot| %>
  <div class="border rounded m-1 p-2">
  <p class = "m-0">
  <strong><%= @daytime.find("#{timeslot.daytime_id}").weekday %></strong>:
  <%= @daytime.find("#{timeslot.daytime_id}").time %>
  </p>
  <% if timeslot.booked %>
  <p class="text-danger m-0">Booked</p>
  <%end%>
  <% if timeslot.available %>
  <p class="text-success m-0">Available</p>
  <%= button_to "Make Unavailable", mark_unavailable_path, class: "btn btn-secondary", params: {timeslot_id: timeslot.id}, method: :patch%>
  <%else%>
  <p class="text-danger m-0">Unavailable</p>
  <%= button_to "Make Available", mark_available_path, class: "btn btn-primary", params: {timeslot_id: timeslot.id}, method: :patch%>
  <%end%>
  </div>
  
<%end%>
</div>
