<hr class="my-2">
<p class="h1 text-center bg-light w-50 mx-auto rounded">Parent Dashboard</p>
<hr class="my-2">
<div class="bg-light p-4 border rounded w-auto mx-5 mt-3 mb-3">
  <div class="row justify-content-around">
      <div class="col-4 border rounded h-50">
        <p class=" h4 text-center mt-4">Profile</p>
        <hr class="my-4">
        <% if @user_profile.profile_picture.attached? %>
          <%= image_tag @user_profile.profile_picture, class: "pro-pic"%>
        <% else %>
          <%= image_tag "defaultpp.png", class: "pro-pic"%>
        <% end%>
        <hr class="my-4">
        <p>
          <strong><%= "#{@user_profile.firstname} #{@user_profile.lastname}" %></strong>
        </p>

        <p>
          <strong>Email: </strong>
          <%= @user_profile.user.email %>
        </p>

        <p>
          <strong>Phone: </strong>
          (+61)<%= @user_profile.phone %>
        </p>

        <p>
          <strong>Address: </strong>
          <%= @user_profile.address %>
        </p>

        <%= link_to 'Edit Profile', edit_user_profile_path(@user_profile), class: "btn btn-primary mb-3" %>
         <%= link_to 'Make Booking', view_instructors_path, class: "btn btn-primary mb-3 ml-3" %>
      </div>
      <div class="col-4 border rounded">
        <p class=" h4 text-center mt-4">Children</p>
        <hr class="my-4">
        <% @students.each do |student| %>
        <% @booking = @bookings.where(student_id: student.id).first%>
          <p>
          <strong><%= "#{student.firstname} #{student.lastname}" %></strong>
          </p>
          <p class="lh-sm my-1">
          <strong>Age: </strong><%= ((Time.zone.now - student.dob.to_time) / 1.year.seconds).floor %>
          </p>
          <%if @booking.present? %>
          <p class="lh-sm my-1">
          <strong>Booking: </strong> <%= @booking.date.strftime("%m/%d/%Y") %>
          <%= @daytime.find(@timeslots.find(@booking.timeslot_id).daytime_id).time%>
          </p>
          <%end%>
          <p class="lh-sm mt-1 mb-3">
          <strong>Skill Level: </strong>Skill Goes Here (WiP)
          </p>
          <%= link_to 'Edit', edit_student_path(student), class: "btn btn-primary btn-sm mr-1" %>
          <hr class="my-4">
        <%end%>
          <%= link_to 'Add Student', new_student_path, class: "btn btn-primary mb-3" %>
      </div>
  </div>
</div>
<div class="bg-light p-4 border rounded w-auto mx-5 mt-3 mb-3">
<p class="h1 text-center bg-light mx-auto">All Bookings !WIP!</p>
<hr class="my-2">
</div>